@media (prefers-color-scheme: dark) {
  html, body {
    background-color: #000000;
    color: #ffffff;
  }

  h1, h2, h3, h4, h5, h6, blockquote {
    color: #ffffff;
  }

  a {
    color: #fb7979;
  }

  hr {
    background-color: rgb(255, 255, 255);
  }
}
